.auth_form {
  background: var(--primary-color);
  padding: 40px;
  border-radius: 5px;
}
.auth_btn {
  background: #fff;
  color: var(--primary-color);
  font-weight: 600;
  border: none;
}
.auth_form p {
  margin-top: 30px;
}
.auth_form p a {
  color: rgb(255, 255, 255, 0.735);
  margin-left: 10px;
}
.auth_form input[type="file"] {
  color: #fff;
  cursor: pointer;
}
